<div class="row">
  <div class="col-lg-4">

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" [(ngModel)]="email" class="form-control" id="email" aria-describedby="emailHelp"
         required>
    </div>

    <div class="form-group">
      <label for="email">Password</label>
      <input type="password" [(ngModel)]="password" class="form-control" id="email" aria-describedby="emailHelp"
         required>
    </div>


    <div class="mx-auto">
      <button type="submit" [disabled]="!password || !email" type="button" (click)="login()"
        class="btn btn-primary text-right">Login</button></div>
    <br>
    <div class="alert alert-secondary" *ngIf="error" role="alert">
      <b>
        {{error}}
      </b>
    </div>


  </div>
</div>
