<div class="row" *ngIf="user">
  <div class="col-lg-8" *ngIf="!doLogin">

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" [(ngModel)]="user.Email" (change)="getUserByEmail()" class="form-control" id="email"
        aria-describedby="emailHelp" required>
      <br>
      <div class="alert alert-warning" *ngIf="emailTaken" role="alert">
        <b>Email address already used</b> <br>
        <a class="link-info pointer" (click)="doLogin = true">Login?</a>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Password</label>
      <input type="password" [(ngModel)]="user.Password" class="form-control" id="email" aria-describedby="emailHelp"
        required>
    </div>

    <div class="row">
      <div class="col-lg-6">
        
        <div class="form-group">
          <label for="email">Name</label>
          <input type="text" [(ngModel)]="user.Name" class="form-control" id="email" aria-describedby="emailHelp"
            required>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="form-group">
          <label for="email">Surname</label>
          <input type="text" [(ngModel)]="user.Surname" class="form-control" id="email" aria-describedby="emailHelp"
            required>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="email">Phone Number</label>
          <input type="text" [(ngModel)]="user.PhoneNumber" class="form-control" id="email" aria-describedby="emailHelp"
            required>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="form-group">
          <label for="email">ID Number</label>
          <input type="text" [(ngModel)]="user.IDNumber" class="form-control" id="email" aria-describedby="emailHelp"
            required>
        </div>
      </div>
    </div>



    <div class="mx-auto">
      <button type="submit" [disabled]="!user.Name || !user.Email" type="button" (click)="register()"
        class="btn btn-primary text-right">Register</button></div>
    <br>
    <div class="alert alert-secondary" *ngIf="error" role="alert">
      <b>
        {{error}}
      </b>
    </div>


  </div>

  <app-sign-in-form *ngIf="doLogin"></app-sign-in-form>
  <a *ngIf="doLogin" class="link-info pointer" (click)="doLogin = false">Sign up</a>

</div>
