<div class="section">
  <div class="grid">
    <div class="img">
      <img class="" src="assets/images/about.png" alt="">

    </div>
    <div class="text">

      <h1 class="main-heading">
        about <span>us.</span>
      </h1>
      <p>
        Initially registered as Bhane Transport Service, Bunny Car Hire is a South African rental company based around
        Durban. Aiming to make car hire easy and accessible, one of our registered drivers delivers the car of your
        choice to you and we have no annoying credit checks or mountains of red tape you have to go through.

      </p>
      <p>

        We pride ourselves with a car hire fleet of Audi, Toyota, Suzuki, Volkswagen, Isuzu, we are ready to provide to
        our clients so they can have the perfect vehicle they need for their trip. Out of town business meetings,
        weekends away, family trips, or just general errands, we are here to make sure your travels are made easier and
        more convenient.
      </p>

  

    </div>
  </div>


</div>
