

<div class="container">


  <div class="row" style="padding: 2em 0;">
    <div class="col-lg-8">
      <h3 class="heading" >
       Track  a booking
      </h3>
      
      
      <div class="row">
        <div class="col-lg-4">
          <input type="search" class="form-control" [(ngModel)]="OrderId"
            placeholder="Enter booking number">
      
        </div>
      
        <div class="col-lg-2">
          <button class="btn btn-primary" [disabled] = "!OrderId" (click)="getOrderSync()">Find booking</button>
        </div>
      
      
      </div>

      <div *ngIf="error" style="margin-top: 4em;"  class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Sorry,</strong> no bookings found matching this number
        <button type="button" class="btn-close"  data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  </div>


  <div class="container" *ngIf="order">
    <div class="row">
  
      <div class="col-lg-4" *ngIf="order && order.Product">
        <div class="card">
          <div class="card-header">
            <b>Vehicle Info</b>
          </div>
          <img [src]="order.ProductImage" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{order.Product.Name}} <br> <br>
               Booking No:  #{{order.OrderNo}}</h5>
            <p class="card-text">
              Days: <b>{{order.NumberOfDays}} Days</b><br>
              Price perday: <b>{{order.RatePrice  | currency: 'R '}}</b><br>
              Sub Total: <b>{{order.SubTotal | currency: 'R '}}</b><br>
            </p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <b> Customer Details</b>
          </div>
          <div class="card-body">
            <p class="card-text">
              Name: <b>{{order.Customer.Name}} {{order.Customer.Surname}} </b>
            </p>
  
            <p class="card-text">
              Email: <b>{{order.Customer.Email}} </b>
            </p>
  
            <p class="card-text">
              Phone Number: <b>{{order.Customer.PhoneNumber}} </b>
            </p>
  
            <p class="card-text">
              ID Number: <b>{{order.Customer.IDNumber}} </b>
            </p>
  
            <p class="uploads">
              <b>Uploads</b> <br>
              <a *ngIf="order.Customer.IdCopy" [href]="order.Customer.IdCopy" target="_blank" class="link-success">Id
                Copy</a>
              <a *ngIf="order.Customer.ProofOfAddress" [href]="order.Customer.ProofOfAddress" target="_blank"
                class="link-success">Proof Of Address</a>
              <a *ngIf="order.Customer.DriverLisence" [href]="order.Customer.DriverLisence" target="_blank"
                class="link-success">Driver Lisence</a>
              <a *ngIf="order.Customer.BankStatement" [href]="order.Customer.BankStatement" target="_blank"
                class="link-success">Bank Statement</a>
            </p>
  
          </div>
        </div>
      </div>
  
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <b>Summary</b>
          </div>
          <div class="card-body">
            <h5 class="card-title">Pick up & Drop Off</h5>
  
            <p class="card-text">
              <b>Pick up</b> <br><br>
              <i class="fas fa-calendar-day"></i> {{order.PickUpDate | date:'mediumDate'}} {{order.PickUpTime}} <br>
              <i class="fas fa-map-marker-alt"></i> {{order.PickUpLocation}}
              <br>
              <a [href]="order.PickUpDirection" class="btn btn-info" target="_blank"><i class="fas fa-route"></i>
                Navigate</a>
            </p>
            <p class="card-text">
              <b>Drop off</b> <br><br>
              <i class="fas fa-calendar-day"></i> {{order.ReturnDate | date:'mediumDate'}} {{order.ReturnTime}} <br>
              <i class="fas fa-map-marker-alt"></i> {{order.DropOffLocation}}
              <br>
              <a [href]="order.DropOffDirection" class="btn btn-info" target="_blank"><i class="fas fa-route"></i>
                Navigate</a>
            </p>
            <hr>
            <h3><span class="badge bg-dark">{{order.Status}}</span></h3>
            <hr>
            <p>
              <span> Created on... </span> <b> {{order.CreateDate | date: 'mediumDate'}}</b><br>
              <span *ngIf="order.Shipping && order.ShippingPrice">
                {{order.Shipping}}... <b>{{order.ShippingPrice  | currency:'R '}}</b><br>
              </span>
              Sub Total for {{order.NumberOfDays}} day(s)... <b>{{order.SubTotal  | currency:'R ' }}</b><br>
              Deposit... <b>{{order.Deposit  | currency:'R '}}</b><br>
              Vat... <b>{{order.Vat  | currency:'R '}}</b><br>
              Paid... <b>{{order.Paid  | currency:'R '}}</b><br><br>
              Total... <b>{{order.Total  | currency:'R '}}</b><br>
              Due... <b>{{order.Due  | currency:'R '}}</b><br>
  
            </p>
  
            <a class="btn btn-primary" (click)="orderClicked()" *ngIf="getButtonLabel() && order.Status != BOOKING_STATUSES.APPROVED.Name">
              {{getButtonLabel()}}
            </a>
  
            <div class="actionsss">
              <div class="" *ngIf="order.Status == BOOKING_STATUSES.APPROVED.Name">
                <div class="payfast-form">
                  <form ngNoForm action="https://www.payfast.co.za/eng/process" method="POST">
                    <span *ngIf="order && order.Customer">
                      <input type="hidden" name="merchant_id" [value]="merchantId">
                      <input type="hidden" name="merchant_key" [value]="merchantKey">
                      <input type="hidden" name="return_url" [value]="shopingSuccesfulUrl">
                      <input type="hidden" name="cancel_url" [value]="paymentCancelledUrl">
                      <input type="hidden" name="notify_url" [value]="paymentCallbackUrl">
  
                      <input type="hidden" name="name_first" [value]="order.Customer.Name">
                      <input type="hidden" name="name_last" [value]="order.Customer.Surname">
                      <input type="hidden" name="email_address" [value]="order.Customer.Email">
                      <input type="hidden" name="cell_number" [value]="order.Customer.PhoneNumber">
  
  
                      <input type="hidden" name="amount" [value]="order.Total">
                      <input type="hidden" name="item_name" [value]="productName">
                      <input type="hidden" name="item_description" [value]="productDescription">
  
  
                      <input type="hidden" name="email_confirmation" value="1">
                      <input type="hidden" name="confirmation_address" value="payments@tybo.co.za">
                    </span>
  
                    <div class="actions">
                      <button type="submit"
                        class="btn btn-primary">Proceed to
                        payments</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  
  </div>
  

</div>



<app-customer-feedback *ngIf="modalModel && modalModel.heading" [modalModel]="modalModel"></app-customer-feedback>
