@import '../../../../../../../assets/styles/color';
.container{
    padding-top: 12em !important;
    padding-bottom: 12em !important;
  }
  
  .uploads{
    a{
      display: block;
      padding: .5em;
      width: fit-content;
      font-weight: 600;
    }
  }
  