@import '../../../../assets/styles/color';

.top-banner {
  background: $cloud;
  display: grid;
  grid-template-columns: 80% 10% auto;
  padding: 1em 2em;


  @media only screen and (max-width: 600px) {
    grid-template-columns: 50% 25% auto;
    padding: 1em .5em;

  }

  .col {
    a {

      color: $black;
      display: block;
      text-decoration: none;
      padding: .5em .1em;

    }

    .a-btn {
      text-align: center;
      border: 1px solid $black;
      width: 8em;

      @media only screen and (max-width: 600px) {
        width: 6em;
      }
    }
  }
}

.nav-banner {
  background: $white;
  display: grid;
  grid-template-columns: 50% auto;
  padding: 0 2em;


  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
    padding: .5em;

  }

  .col {
    img {
      width: 12.5em;
      // left: ;
    }


    @media only screen and (max-width: 600px) {
      text-align: center;
    }

    ul {
      top: 2em;

      li {
        display: inline-block;

        a {
          display: block;
          padding: 1em;
          text-align: center;
          text-decoration: none;
          font-weight: 600;
          color: $pop;
        }
      }
    }
  }
}


.phone-menu {
  display: none !important;

  @media only screen and (max-width: 600px) {
    display: grid !important;
    grid-template-columns: 4em auto;
    padding: .5em;
    background: $white;
  }

  .col {
    // border: 2px solid red;
    text-align: center;
    color: $pop;

    .icons {
      position: relative;
      top: 1em;
    }

    img {
      width: 10em;
      top: .2em;
    }

    &:last-child {
      text-align: right;
      padding-right: 2em;
    }
  }
}


.mess {
  padding: .5em;
  font-size: .85em;
  font-weight: 600;
  color: $black;
  background: $pop;
  color: $white;
}

.pc-menu {
  background: $white;
  border: none;
  padding: 1em 10%;
  display: grid;
  grid-template-columns: 15% auto;
  position: fixed;
  width: 100%;
  z-index: 10000;
  top: 0;
  border-bottom: 2px solid $pop;

  @media only screen and (max-width: 800px) {

    padding: .25em 1em;
    grid-template-columns: 100%;

  }

  img {
    width: 10em;

    @media only screen and (max-width: 800px) {
      margin: 0 auto;
      display: block;
    }
  }

  ul {
    top: .2em;
    position: relative;
    float: right;
    margin-right: 1em;

    @media only screen and (max-width: 800px) {
      padding: .4em;
      display: block;
      margin: 0 auto;
      float: none;
      width: fit-content;
    }

    @media only screen and (max-width: 800px) {
      margin: 0;
    }

    li {
      display: inline-block;

      a {
        display: block;
        padding: 1em;
        text-align: center;
        text-decoration: none;
        font-weight: 400;
        color: $darker-grey;
        margin: 0 1em;

        @media only screen and (max-width: 800px) {
          margin: .2em .2em;
          padding: 1em .75em;
          margin: 0;
          left: 2em;
        }
      }

      .active-link {
        color: $black;
        font-weight: 500;
        border-bottom: 2px solid $black;
      }
    }
  }
}
