<div class="overlay">
  <div class="container looods">
    <div class="row">
      <div class="col-lg-12">
        <div class="loader">
          <div class="loader-inner">
            <div class="loading one"></div>
          </div>
          <div class="loader-inner">
            <div class="loading two"></div>
          </div>
          <div class="loader-inner">
            <div class="loading three"></div>
          </div>
          <div class="loader-inner">
            <div class="loading four"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
