  <div class="container">
    <div class="footer">

      <div class="items">
        <a routerLink="/">Home</a>
        <a routerLink="/about">About us</a>
        <a routerLink="/contact" class="space-a ">Contact us</a>
        <a href="https://www.instagram.com/bunnycarhire/" target="_blank" rel="noopener noreferrer"><i
            class="fab fa-facebook-square"></i></a>
        <a href="https://www.facebook.com/bunnycarhire/" target="_blank" rel="noopener noreferrer"><i
            class="fab fa-instagram-square"></i> </a>
      </div>
    </div>
  </div>
